{
  box-sizing: border-box;
  background-color: #ddd;
}

body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  text-align: center;
}

.headimage {
  background-image: url(../images/riverflow.png);
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  padding: 0.8%;
  height:160px;
  /*text-align: center;
  color: white;
  font-size: 44px;*/
  opacity: 1;
}

#mainlogo{
  position: relative;
  top: 16%;
  /*left: 5%;*/
  font-size: 90px;
  color: black;
  /*transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
  z-index: 2;
}

h2{
  font-size: 1.9em;
}
h3{
  font-size: 1.7em;
}
h4{
  font-size: 1.5em;
}
h5{
  font-size: 1.3em;
}

.navbar {
  background-color: #479027;
  text-align: center;
  padding:1%;
  opacity: 0.8;
  font-size: 1.2em;
}

.navbar a {
  color: white;
  padding: 1.5%;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #479027;
  opacity: 0.8;
}

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; 
  bottom: 60px; 
  left: 30px; 
  z-index: 35; 
  border: none; 
  outline: none; 
  background-color: #479027; 
  color: white; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; 
  border-radius: 5px; 
  font-family: 'Amatic SC', cursive;
  font-size: 16px; 
}

#topBtn:hover {
  background-color: #555; 
}